/* Reset default margin and padding */
body, h1, form {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-image: url('zyro-image.png');
    position: relative;
}

/* Apply a background color and center the form */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0; /* Remove default body margin */
}

.login-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 300px; /* Set a maximum width for the form container */
    width: 100%; /* Allow the form container to take up the available width */
    margin: 0 auto; /* Center the form container */
}

h1 {
    margin-bottom: 20px;
    color: #333;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

input[type="text"],
input[type="password"] {
    width: calc(100% - 16px); /* Set the width to 100% minus the padding (8px on each side) */
    padding: 8px;
    margin-bottom: 10px; /* Add margin to the bottom of the input fields */
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

button[type="submit"] {
    padding: 8px 20px;
    border: none;
    border-radius: 4px;
    background-color: #4caf50;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

a {
    text-decoration: none;
    color: #007bff;
    margin-top: 10px;
    display: inline-block;
}

a:hover {
    text-decoration: underline;
    color: #0056b3;
}
