<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Share&Sell Marketplace</title>
    <link rel="stylesheet" th:href="@{/css/loginPage.css}">
</head>

<body>
<div class="login-container">
    <h1>Share & Sell</h1>
    <form id="login-form" action="/login" method="POST">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" required>

        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>

        <button type="submit">Login</button>
    </form>
    <!-- Add the "Sign Up" link -->
    <a th:href="@{/register}">Sign Up</a>
</div>

<script th:src="@{/js/loginPage.js}"></script>
</body>

</html>
