<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base::layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>Marketplace</title>
    <link  href="/css/marketplace.css" rel="stylesheet">
</head>
<body>
<section>
    <h1>Welcome to the Marketplace</h1>
    <div class="marketplace-items">
            <!--/*@thymesVar id="advertisements" type="org.cs320.ozyegin.model.Advertisement"*/-->
        <div th:each="advertisement : ${advertisements}">
            <h3 th:text="${advertisement.title}"></h3>
            <p th:text="${advertisement.quantity}"></p>
            <p>
                Price: <label>
                <input type="text" th:value="${advertisement.price}"  class="price-input" readonly>
            </label>
                <span>$</span>
            </p>
            <p>
                Date: <label>
                <input type="text" th:value="${advertisement.getDateString()}" class="date-input" readonly>
            </label>
            </p>
            <div style="display: flex; align-items: center;">
                <!-- Link for View Details -->
                <a th:href="@{'/details/' + ${advertisement.id}}" class="btn btn-primary" style="margin-right: 10px;">View Details</a>

                <!-- Form for specifying the quantity -->
                <form id="orderForm" th:action="@{'/user/placeOrder/' + ${advertisement.id}}" method="post">
                    <label for="quantity"></label>
                    <select id="quantity" name="quantity">
                        <!-- Loop to generate options dynamically based on advert.quantity -->
                        <option th:each="i : ${#numbers.sequence(1, advertisement.quantity)}"
                                th:value="${i}" th:text="${i}"></option>
                    </select>
                    <!-- Call the JavaScript function on button click -->
                    <input type="submit" value="Order Now" class="btn btn-secondary">
                </form>
            </div>

        </div>
    </div>
</section>


</body>
</html>
