body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-image: url('../zyro-image.png');
}

header {
    padding: 15px;
    text-align: center;
    color: white;
    position: relative;
    z-index: 1;
}

main {
    display: flex;
    padding: 20px;
}

.basket,
.recommended-products {
    flex: 1;
    padding: 15px;
    border-radius: 8px;
    position: relative;
    z-index: 0;
    margin: 20px;
    background-color: #ffffff; /* Set the background color for the bubble */
}

.basket::before,
.recommended-products::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    border: 10px solid transparent;
    border-bottom-color: #ffffff; /* Set the same color as the background color */
}

#basket-items,
#recommended-items {
    list-style-type: none;
    padding: 0;
}

.basket-item,
.recommended-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.product-details {
    display: flex;
    align-items: center;
}

.product-image {
    max-width: 50px;
    margin-right: 10px;
}

.product-name {
    flex: 1;
}

.quantity,
.price,
.product-price {
    margin-left: 20px;
}

#payment-button {
    margin-top: 20px;
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
