/* Reset default margin and padding */
body, h1, ul, footer {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f7f7f7;
    color: #333;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-image: url('zyro-image.png');
    position: relative;
}

header {
    background-color: transparent; /* Remove background color */
    color: #fff;
    padding: 20px;
    text-align: center;
    box-shadow: none; /* Remove the box shadow */
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #444;
    padding: 8px 18px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #f0f0f0;
}

main {
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    padding: 15px;
    /* Remove the background and set the text color to match the body */
    color: #333;
}
