/* Basic styling */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f7f7f7;
    color: #333;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-image: url('zyro-image.png');
    position: relative;
    height: 100vh;
}

header {
    background-color: transparent; /* Change background color to transparent */
    color: #333;
    text-align: center;
    padding: 20px 0;
}

main {
    padding: 20px;
}

.user-info {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
}

.edit-form {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}
